# Node modules
node_modules/

# IDE settings
.vscode/

# Logs
*.log
logs/

# Environment variables
frontend/.env
server/.env

# Firebase files
frontend/src/common/firebase.jsx
server/blogwebsite-6d75e-firebase-adminsdk-fbsvc-5b83738961.json

# API testing
server/requests.rest